Source: qof
Section: libs
Priority: optional
Maintainer: Neil Williams <codehelp@debian.org>
Uploaders: Goedson Teixeira Paixao <goedson@debian.org>
Build-Depends: autotools-dev, cdbs, debhelper (>= 5), dpkg-dev (>= 1.14),
 gettext, pkg-config,
 libglib2.0-dev (>= 2.6.0), libxml2-dev (>= 2.5.10), libgda3-dev, 
 libsqlite0-dev
Build-Depends-Indep: doxygen
Standards-Version: 3.8.0
Homepage: http://alioth.debian.org/projects/qof/
Vcs-Browser: http://svn.debian.org/viewsvn/qof/trunk/qof/
Vcs-Svn: svn://svn.debian.org/svn/qof/trunk/debian/

Package: libqof2
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libqof2-backend-qsf | libqof2-backend-sqlite | libqof2-backend-gda
Replaces: libqof1
Conflicts: pilot-qof (<< 0.1.1-2)
Description: Query Object Framework
 A framework to allow the execution of SQL-type queries
 using collections of in-memory objects as 'tables'.
 .
 This package provides the shared libraries needed
 to run programs developed using QOF.

Package: libqof-dev
Priority: optional
Section: libdevel
Architecture: any
Recommends: libqof-doc
Depends: libgda3-dev, libglib2.0-dev, libqof2 (= ${binary:Version}),
 ${misc:Depends}
Description: Query Object Framework - Development Headers
 A framework to allow the execution of SQL-type queries
 using collections of in-memory objects as 'tables'.
 .
 This package provides the files needed to develop
 applications using QOF.

Package: libqof2-backend-qsf
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libqof2 (= ${binary:Version}), ${misc:Depends}
Recommends: xsltproc, xml-core
Replaces: libqof-backend-qsf0
Description: Query Object Framework - XML backend module
 QOF is a framework to allow the execution of SQL-type
 queries using collections of in-memory objects as 'tables'.
 .
 This module provides the default XML backend for libqof2
 using a generic XML format called QSF. Any QOF object can
 be written out or loaded from QSF XML. Data can be
 converted to other text-based formats using XSL.
 This package provides the XML schemas to validate files
 and the QSF XML backend module.

Package: libqof2-backend-sqlite
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libqof2 (= ${binary:Version}), ${misc:Depends}
Description: Query Object Framework - SQLite backend module
 QOF is a framework to allow the execution of SQL-type
 queries using collections of in-memory objects as 'tables'.
 .
 This module provides a SQLite backend intended for
 embedded systems. The package can also be installed
 alongside other QOF backends, applications using QOF
 can use whichever backend is available.

Package: libqof2-backend-gda
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqof2 (= ${binary:Version})
Description: Query Object Framework - GDA backend module
 QOF is a framework to allow the execution of SQL-type
 queries using collections of in-memory objects as 'tables'.
 .
 This module provides a GNOME Data Access backend using
 libgda3 and can be used with any gda3 plugin to provide
 read and write access to data sources using XML, SQLite,
 MySQL, FreeTDS, PostgreSQL or ODBC. The package can also
 be installed alongside other QOF backends, applications
 using QOF can use whichever backend is available.

Package: libqof2-dbg
Priority: extra
Section: libs
Architecture: any
Recommends: libqof-doc
Depends: libqof2 (= ${binary:Version})
Description: Query Object Framework - Debug Symbols
 A framework to allow the execution of SQL-type queries
 using collections of in-memory objects as 'tables'.
 .
 This package provides the debugging symbols that may be
 useful when developing applications using QOF.

Package: libqof-doc
Priority: optional
Section: doc
Architecture: all
Recommends: www-browser, dwww
Description: Query Object Framework - API Documentation
 A framework to allow the execution of SQL-type queries
 using collections of in-memory objects as tables.
 .
 This package provides the documentation of the QOF
 API produced using Doxygen in
 /usr/share/doc/libqof-doc/html/

