Source: qof
Section: libs
Priority: optional
Maintainer: Neil Williams <codehelp@debian.org>
Uploaders: Goedson Teixeira Paixao <goedson@debian.org>
Build-Depends: cdbs (>= 0.4.93~), debhelper (>= 9), dh-autoreconf,
 xsltproc, libglib2.0-dev (>= 2.9.0), libxml2-dev (>= 2.5.10),
 libsqlite0-dev
Build-Depends-Indep: doxygen
Standards-Version: 3.9.5
Homepage: http://alioth.debian.org/projects/qof/
Vcs-Browser: http://svn.debian.org/viewsvn/qof/trunk/qof/
Vcs-Svn: svn://svn.debian.org/svn/qof/trunk/debian/

Package: libqof2
Architecture: any
Pre-Depends: ${misc:Pre-Depends} 
Depends: ${shlibs:Depends}, ${misc:Depends}, qof-data
Recommends: libqof2-backend-qsf | libqof2-backend-sqlite
Multi-Arch: same
Description: Query Object Framework
 QOF is a framework to allow the execution of SQL-type queries
 using collections of in-memory objects as 'tables'.
 .
 This package provides the shared libraries needed
 to run programs developed using QOF.

Package: libqof-dev
Section: libdevel
Architecture: any
Depends: libglib2.0-dev, libqof2 (= ${binary:Version}), 
 ${misc:Depends}, pkg-config
Suggests: libqof-doc
Multi-Arch: same
Description: Query Object Framework - Development Headers
 QOF is a framework to allow the execution of SQL-type queries
 using collections of in-memory objects as 'tables'.
 .
 This package provides the files needed to develop
 applications using QOF.

Package: libqof2-backend-qsf
Architecture: any
Depends: ${shlibs:Depends}, libqof2 (= ${binary:Version}), ${misc:Depends}
Recommends: xsltproc, xml-core
Replaces: libqof-backend-qsf0
Provides: qof-backend-qsf
Multi-Arch: same
Description: Query Object Framework - XML backend module
 QOF is a framework to allow the execution of SQL-type
 queries using collections of in-memory objects as 'tables'.
 .
 This module provides the default XML backend for libqof2
 using a generic XML format called QSF. Any QOF object can
 be written out or loaded from QSF XML. Data can be
 converted to other text-based formats using XSL.

Package: libqof2-backend-sqlite
Architecture: any
Depends: ${shlibs:Depends}, libqof2 (= ${binary:Version}), ${misc:Depends}
Provides: qof-backend-sqlite
Multi-Arch: same
Description: Query Object Framework - SQLite backend module
 QOF is a framework to allow the execution of SQL-type
 queries using collections of in-memory objects as 'tables'.
 .
 This module provides a SQLite backend intended for
 embedded systems. The package can also be installed
 alongside other QOF backends, applications using QOF
 can use whichever backend is available.

Package: libqof2-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libqof2 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Suggests: libqof-doc
Description: Query Object Framework - Debug Symbols
 QOF is a framework to allow the execution of SQL-type queries
 using collections of in-memory objects as 'tables'.
 .
 This package provides the debugging symbols that may be
 useful when developing applications using QOF.

Package: libqof-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: www-browser, dwww
Multi-Arch: foreign
Description: Query Object Framework - API Documentation
 QOF is a framework to allow the execution of SQL-type queries
 using collections of in-memory objects as tables.
 .
 This package provides the documentation of the QOF
 API produced using Doxygen in
 /usr/share/doc/libqof-doc/html/

Package: qof-data
Architecture: all
Depends: ${misc:Depends}
Replaces: libqof1, libqof-backend-qsf0
Multi-Arch: foreign
Description: Query Object Framework - common files
 QOF is a framework to allow the exection of SQL-type
 queries using collections of in-memory objects as 'tables'.
 .
 This package contains the translations of QOF messages,
 XML schemas to validate files from the QSF XML backend
 module and other architecture-independent support files
 for QOF.
