Source: qof
Section: libs
Priority: optional
Maintainer: Debian QOF packaging team <pkg-qof-maintainers@lists.alioth.debian.org>
Uploaders: Goedson Teixeira Paixao <goedson@debian.org>, Neil Williams <linux@codehelp.co.uk>
Build-Depends: debhelper (>= 5), cdbs, autotools-dev, libglib2.0-dev (>= 2.6.0), libxml-parser-perl, doxygen, libsqlite0-dev
Standards-Version: 3.7.2

Package: libqof-dev
Priority: optional
Section: libdevel
Architecture: any
Depends: libqof1 (= ${Source-Version})
Description: Query Object Framework - development
 A framework to allow the execution of SQL-type queries
 using collections of in-memory objects as 'tables'.
 .
 This package provides the files needed to develop 
 applications using QOF.
 .
  Homepage: http://qof.sourceforge.net/

Package: libqof1
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: pilot-qof, gnotime
Description: Query Object Framework
 A framework to allow the execution of SQL-type queries
 using collections of in-memory objects as 'tables'.
 .
 This package provides the shared libraries needed 
 to run programs developed using QOF.
 .
  Homepage: http://qof.sourceforge.net/

Package: libqof-backend-sqlite0
Priority: extra
Section: libs
Architecture: any
Depends: libqof1 (= ${Source-Version}), libsqlite0
Description: Query Object Framework - SQLite backend module
 QOF is a framework to allow the execution of SQL-type 
 queries using collections of in-memory objects as 'tables'.
 .
 This module provides a SQLite backend intended for
 embedded systems. The package can also be installed 
 alongside the default QSF XML backend.
 .
  Homepage: http://qof.sourceforge.net/
