#!/usr/bin/make -f
# Copyright 2003 Goedson Teixeira Paixao <goedson@debian.org>
# Copyright 2006 Neil Williams <linux@codehelp.co.uk>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
# 02110-1301, USA.

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
# internal libraries need to be redirected to cross version
DEB_MAKE_INVOKE+="QOF_LIBS=-L/usr/$(DEB_HOST_GNU_TYPE)/lib -lqof"
# prevent CDBS overwriting CC
DEB_CONFIGURE_SCRIPT_ENV =
# Emdebian-specific customisation
DEB_CONFIGURE_EXTRA_FLAGS += --disable-gdasql
# enable dpkg-shlibdeps to find the internal libraries.
DEB_SHLIBDEPS_INCLUDE_libqof1 = ./debian/tmp/usr/lib/
else
DEB_MAKE_CHECK_TARGET = check
endif

