/* ikiwiki local style sheet */

/* Add local styling here, instead of modifying style.css. */
P {
	text-align:justify;
}
a:link    { text-decoration:none; color:blue;}
a:visited { text-decoration:none; color:maroon;}
a:hover   { text-decoration:underline; color:green;}
H1 {
	background:#4541AD;
	color:white;
	text-align:center;
	padding-top:0.25em;
	padding-bottom:0.25em;
}
.header {
	background:#4541AD;
	color:white;
	text-align:center;
	padding-top:0.25em;
	padding-bottom:0.25em;
}
.header a:link    { text-decoration:none; color:white;}
.header a:visited { text-decoration:none; color:white;}
.header a:hover   { text-decoration:underline; color:navy;}
H2 {
	background: white;
	text-align:left;
	color: #272C80;
}
H3 {
	background: silver;
	text-align:left;
	color: #122D8F;
	padding:0.25em;
}
HR {
	border-style:groove;
	border-width: 2px 0 0 0;
}
BODY {
	color:black;
	background:white;
	font-size:1em;
	color:black;
	text-align:justify;
	font-family:helvetica,verdana,arial,sans-serif;
	text-decoration:none;
}
#sflogo {
	width:210px;
	height:62px;
	border-style:none;
	float:right;
	margin-left:2em;
}
#sflogosm {
	height:31px;
	width:88px;
	border-style:none;
	float:left;
	margin-right:0.5em;
	margin-bottom:0.5em;
}
#qoflogo {
	height:150px;
	width:100px;
	border-width:5px;
	border-style:groove;
	float:right;
	margin-left:2em;
	margin-bottom:2em;
}
UL {
	margin-left:0.5em;
	padding-left:0;
}
LI {
	margin-left:0.5em;
	padding-left:0;
}
DT {
	font-weight:700;
}
.clear {
	float:none;
	clear:both;
}
HR {
	float:none;
	clear:both;
}
.pagedate {
	font-size: 0.7em;
	text-align:justify;
	color: #49494B;
}
#actions {
	color:black;
	background: #99CCFF;
	float:left;
	margin-right:2em;
	margin-bottom:1em;
	padding-right:1em;
	padding-left:0.5em;
}
.back {
	color:#122D8F;
	background: silver;
	padding:0.25em;
}
#licence {
	font-size: 0.7em;
	text-align:justify;
	color: #49494B;
}

